/* Your styling for the calendar will go here */
/* This is just a placeholder for you to customize the appearance of your calendar */

* {
    box-sizing: border-box;
}

.fc-button::first-letter {
    text-transform: capitalize;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.right-calendar {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 250px; /* Adjust as per your requirements */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

/* Adjust the calendar header */
.fc-header-toolbar {
    background-color: #f4f4f4;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Style the title (Month and Year) */
.fc-toolbar-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    position: relative;
}

/* Style the buttons */
.fc-button {
    background-color: #FFFFFF;
    border: 1px solid #D6D6D6;
    color: #333;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
    font-weight: 400;
    padding: 5px 20px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.fc-button:hover {
    background-color: #F7F7F7;
}

.fc-button.fc-button-active, .fc-button:active {
    background-color: #F0F0F0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* subtle shadow to lift the button */
    border-color: #D6D6D6;
}

.fc-today-button {
    font-weight: 400;
}

.fc-header-toolbar {
    background: #f5f5f5;
}

.fc-button {
    background: RED !important;
    background: #F0F0F0 !important;
    border: transparent !important;
    color: #212529 !important;
    /* border-radius: 8px !important; */
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.fc-prev-button {
    margin-right: 10px !important;
}

.fc-button-group {
    margin-left: 7px !important;
}

.fc-button.fc-button-primary .fc-icon::before {
    color: #212529;
}

.fc-button-active {
    background: #fff !important;
    box-shadow: none !important;
    font-weight: 600 !important;
}

.fc-timeGridDay-button, .fc-timeGridWeek-button, .fc-dayGridMonth-button {
    width: 81px;
}

.fc-button-group {
    padding: 5px 6px;
    border-radius: 8px;
}

.fc-today-button {
    width: 102px;
    padding-top: 8px !important;
    padding-bottom: 8px !important
}

.fc-today-button:disabled {
    opacity: 1 !important;
}

.fc-today-button ~ .fc-button-group {
    background: #f0f0f0;

}

.fc-toolbar-title ~ .fc-button {
    display: none !important;
}

.fc-toolbar-chunk {
    display: flex;
    align-items: center;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 21px !important;
}

.fc-col-header-cell.fc-day {
    border: none !important;
   
}

.fc .fc-col-header-cell-cushion {
    padding: 9px 10px !important;
    color: #212529;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
}

.fc-col-header {
    background-color: #f0f0f0;
}

.fc-daygrid-day-number {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}
/* 
.fc .fc-day-other .fc-daygrid-day-top {
    opacity: 0 !important;
} */

.fc-trainingCalendar-button, .fc-myTrainingCalendar-button {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.fc-trainingCalendar-button:hover, .fc-myTrainingCalendar-button:hover {
    background-color: #0056b3;
}

.fc-event-time {
    display: none;
}


