* {
  box-sizing: border-box;
}

.fc-button::first-letter {
  text-transform: capitalize;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

#calendar {
  /* max-width: 900px; */
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.right-calendar {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 250px;
  /* Adjust as per your requirements */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Adjust the calendar header */
.fc-header-toolbar {
  background-color: #f4f4f4;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Style the title (Month and Year) */
.fc-toolbar-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  position: relative;
}

/* Style the buttons */
.fc-button {
  background-color: #ffffff;
  border: 1px solid #d6d6d6;
  color: #333;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  font-weight: 400;
  padding: 5px 20px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.fc-button:hover {
  background-color: #f7f7f7;
}

.fc-button.fc-button-active,
.fc-button:active {
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* subtle shadow to lift the button */
  border-color: #d6d6d6;
}

.fc-today-button {
  font-weight: 400;
}

.fc-header-toolbar {
  background: #f5f5f5;
}

.fc-button {
  background: RED !important;
  background: #f0f0f0 !important;
  border: transparent !important;
  color: #212529 !important;
  border-radius: 8px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.fc-prev-button {
  margin-right: 10px !important;
}

.fc-button-group {
  margin-left: 7px !important;
}

.fc-button.fc-button-primary .fc-icon::before {
  color: #212529;
}

.fc-button-active {
  background: #fff !important;
  box-shadow: none !important;
  font-weight: 600 !important;
}

.fc-timeGridDay-button,
.fc-timeGridWeek-button,
.fc-dayGridMonth-button {
  width: 81px;
}

.fc-button-group {
  padding: 5px 6px;
  border-radius: 8px;
}

.fc-today-button {
  width: 102px;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.fc-today-button:disabled {
  opacity: 1 !important;
}

.fc-today-button~.fc-button-group {
  background: #f0f0f0;
}

.fc-toolbar-title~.fc-button {
  display: none !important;
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 21px !important;
}

.fc-col-header-cell.fc-day {
  border: none !important;
}

.fc .fc-col-header-cell-cushion {
  padding: 9px 10px !important;
  color: #212529;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
}

.fc-col-header {
  background-color: #f0f0f0;
}

.fc-daygrid-day-number {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
}

/* 
.fc .fc-day-other .fc-daygrid-day-top {
    opacity: 0 !important;
} */

.fc-trainingCalendar-button,
.fc-myTrainingCalendar-button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.fc-trainingCalendar-button:hover,
.fc-myTrainingCalendar-button:hover {
  background-color: #0056b3;
}

.fc-event-time {
  display: none;
}

.fc-daygrid-day-frame {
  display: flex;
  flex-direction: column;
}

.fc-daygrid-day-events {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fc-daygrid-event-harness,
.fc-timegrid-event-harness {
  /* background-color: #e5f4e9; */
  flex: 1;
  margin-left: 14px;
  margin-right: 6px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  transition: all 0.3s;
  /* padding-left: 8px; */
}

.fc-event {
  transition: all 0.3s;
}

.fc-daygrid-event-harness:hover .fc-event,
.fc-timegrid-event-harness:hover .fc-event {
  background-color: #3F86F5 !important;
}

.fc-daygrid-event-harness:hover::after,
.fc-timegrid-event-harness:hover::after {
  background-color: #3F86F5;
}

.fc-daygrid-block-event {
  width: 100%;
  border: none !important;
  margin: 0 !important;
  position: relative;
  z-index: 1;
}

.fc-daygrid-event-harness::after,
.fc-timegrid-event-harness::after {
  content: '';
  position: absolute;
  background-color: #2FAA51;
  border-radius: 3px;
  top: 0;
  left: -3px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fc-day-today {
  background-color: #f0f0f0 !important;
}

.fc-timeGridWeek-view .fc-daygrid-body-unbalanced,
.fc-timeGridDay-view .fc-daygrid-body-unbalanced {
  display: none;
}

.fc-event-main {
  height: 100%;
}

.event-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.event-title {
  white-space: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.custom-event {
  display: flex;
  color: #666;
  font-size: 13px;
  line-height: 18px;
}

.custom-event .icon {
  flex-shrink: 0;
}

.event-time .icon {
  width: 16px;
  height: 16px;
  background-image: url('./image/timer.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.event-location .icon {
  width: 16px;
  height: 16px;
  background-image: url('./image/location.svg');
  background-position: center;
  background-repeat: no-repeat;
}

/* Layout */
.wrapper {
  display: flex;
  min-height: 100vh;
}

.calendar-container {
  flex: 1;
}

.right-content {
  max-width: 450px;
  width: 100%;
  padding: 12px 16px 0 38px;
  background-color: #F5F5F5;
}

.search-course {
  padding-bottom: 12px;
}

.small-calendar {
  padding-bottom: 12px;
}

.checkbox {
  padding-bottom: 12px;
}

.info-course {
  padding-bottom: 12px;
}

.event-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.event-card>h2 {
  color: #4086F5;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
}

.instructor-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.instructor-name {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 22px;
}

.event-description {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 130%;
}

.join-btn {
  height: 40px;
  background-color: #4086F5;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  width: 100%;
}

.event-details {
  display: flex;
  flex-wrap: wrap;
}

.event-details>div {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.form-check-label {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  margin-left: 8px;
}

.form-check {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

/* Hide the default checkbox */
.form-check-input {
  appearance: none;
  width: 24px;
  height: 24px;
  position: relative;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}


#defaultCheck1:checked {
  content: url('./image/green-checkbox.svg');
}

#defaultCheck2:checked {
  content: url('./image/blue-checkbox.svg');
}

#defaultCheck3:checked {
  content: url('./image/yellow-checkbox.svg');
}

.fc-timegrid-cols .fc-daygrid-event-harness,
.fc-timegrid-cols .fc-timegrid-event-harness {
  margin: 0;
} 

.fc-timegrid-cols .fc-v-event {
  border: none !important;
}

.fc-timeGridDay-view .fc-timegrid-col-events {
  margin-right: 0px !important;
}

.fc-timeGridDay-view .fc-v-event {
  background-image: url('./image/img1.png');
  background-position: center;
  background-repeat: no-repeat;
}

.fc-timeGridDay-view .fc-v-event::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(173,255,47, 0.5);
}

.fc-timeGridDay-view .fc-daygrid-event-harness::after,
.fc-timeGridDay-view .fc-timegrid-event-harness::after {
  content: '';
  position: absolute;
  background-color: transparent;
  border-radius: 3px;
  top: 0;
  left: -3px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fc-timeGridDay-view .fc-daygrid-event-harness:hover::after,
.fc-timeGridDay-view .fc-timegrid-event-harness:hover::after {
  background-color: #3F86F5;
}
