/* * {
  box-sizing: border-box;
} */

.fc-button::first-letter {
  text-transform: capitalize;
}

/* body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
} */

#calendar {
  /* max-width: 900px; */
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .right-calendar {
  width: 250px;
} */

/* Adjust the calendar header */
.fc-header-toolbar {
  background-color: #f4f4f4;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Style the title (Month and Year) */
.fc-toolbar-title {
  font-size: 20px !important;
  padding-left: 12px;
  font-weight: 600;
  line-height: 22px;
  position: relative;
}

/* Style the buttons */
.fc-button {
  background-color: #ffffff;
  border: 1px solid #d6d6d6;
  color: #333;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  font-weight: 400;
  padding: 5px 20px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.fc-button:hover {
  background-color: #f7f7f7;
}

.fc-button.fc-button-active,
.fc-button:active {
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* subtle shadow to lift the button */
  border-color: #d6d6d6;
}

.fc-today-button {
  font-weight: 400;
}

.fc-header-toolbar {
  background: #f5f5f5;
}

.fc-button {
  background: RED !important;
  background: #f0f0f0 !important;
  border: transparent !important;
  color: #212529 !important;
  border-radius: 8px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.fc-prev-button {
  margin-right: 10px !important;
}

.fc-button-group {
  margin-left: 7px !important;
}

.fc-button.fc-button-primary .fc-icon::before {
  color: #212529;
}

.fc-button-active {
  background: #fff !important;
  box-shadow: none !important;
  font-weight: 600 !important;
}

.fc-timeGridDay-button,
.fc-timeGridWeek-button,
.fc-dayGridMonth-button {
  width: 81px;
}

.fc-button-group {
  padding: 5px 6px;
  border-radius: 8px;
}

.fc-today-button {
  width: 102px;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.fc-today-button:disabled {
  opacity: 1 !important;
}

.fc-today-button ~ .fc-button-group {
  background: #f0f0f0;
}

.fc-toolbar-title ~ .fc-button {
  display: none !important;
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 21px !important;
}

.fc-col-header-cell.fc-day {
  border: none !important;
}

.fc .fc-col-header-cell-cushion {
  padding: 9px 10px !important;
  color: #212529;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
}

.fc-col-header {
  background-color: #f0f0f0;
}

.fc-daygrid-day-number {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
}

/* 
.fc .fc-day-other .fc-daygrid-day-top {
    opacity: 0 !important;
} */

.fc-trainingCalendar-button,
.fc-myTrainingCalendar-button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.fc-trainingCalendar-button:hover,
.fc-myTrainingCalendar-button:hover {
  background-color: #0056b3;
}

.fc-event-time {
  display: none;
}

.fc-daygrid-day-frame {
  display: flex;
  flex-direction: column;
}

.fc-daygrid-day-events {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fc-daygrid-event-harness,
.fc-timegrid-event-harness {
  /* background-color: #e5f4e9; */
  flex: 1;
  margin-left: 14px;
  margin-right: 6px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  transition: all 0.3s;
  /* padding-left: 8px; */
}

.fc-event {
  transition: all 0.3s;
}

.fc-daygrid-event-harness:hover .fc-event,
.fc-timegrid-event-harness:hover .fc-event {
  background-color: #3f86f5 !important;
}

.fc-daygrid-event-harness:hover .event-content,
.fc-timegrid-event-harness:hover .event-content {
  color: #fff !important;
}

.fc-daygrid-event-harness:hover .custom-event,
.fc-timegrid-event-harness:hover .custom-event {
  color: #fff !important;
}

.fc-daygrid-event-harness:hover::after,
.fc-timegrid-event-harness:hover::after {
  background-color: #3f86f5;
}

.fc-daygrid-block-event {
  width: 100%;
  border: none !important;
  margin: 0 !important;
  position: relative;
  z-index: 1;
}

.fc-daygrid-event-harness::after,
.fc-timegrid-event-harness::after {
  content: "";
  position: absolute;
  background-color: #2faa51;
  border-radius: 3px;
  top: 0;
  left: -3px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fc-daygrid-event-harness:has(> a.language-event)::after,
.fc-timegrid-event-harness:has(> a.language-event)::after {
  background-color: red;
}

.fc-day-today {
  background-color: #f0f0f0 !important;
}

.fc-dayGridMonth-view .fc-day-today .fc-daygrid-event-harness::after,
.fc-dayGridMonth-view .fc-day-today .fc-timegrid-event-harness::after {
  z-index: 0;
}

.right-calendar .fc-day-today {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.right-calendar .fc-daygrid-day.custom-today {
  background-color: #0050ae !important;
  border-radius: 8px;
}

.right-calendar .fc-daygrid-day.custom-today .fc-daygrid-day-number {
  color: #fff !important;
}

/* .right-calendar .fc-day-today>* {
  color: #fff !important;
} */

.fc-scroller {
  overflow: unset !important;
  /* background: #f0f0f0; */
}

.fc-timeGridWeek-view .fc-daygrid-body-unbalanced,
.fc-timeGridDay-view .fc-daygrid-body-unbalanced {
  display: none;
}

.fc-event-main {
  height: 100%;
}

.event-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.event-title {
  white-space: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.custom-event {
  display: flex;
  color: #666;
  font-size: 13px;
  line-height: 18px;
}

.custom-event .icon {
  flex-shrink: 0;
}

.event-time .icon {
  width: 16px;
  height: 16px;
  background-image: url("./image/timer.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.event-location .icon {
  width: 16px;
  height: 16px;
  background-image: url("./image/location.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* Layout */
.wrapper {
  display: flex;
  min-height: 100vh;
}

.calendar-container {
  flex: 1;
}

.right-content {
  max-width: 450px;
  width: 100%;
  padding: 12px 16px 0 38px;
  background-color: #f5f5f5;
}

.search-course {
  padding-bottom: 12px;
}

.right-small-calendar {
  padding-bottom: 12px;
}

.checkbox {
  padding-bottom: 12px;
}

.info-course {
  padding-bottom: 12px;
}

.event-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.event-card > h2 {
  color: #4086f5;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
}

.instructor-image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.instructor-name {
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  color: #212529;
  margin: 0;
}

.event-description {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 130%;
}

.course-form-btn {
  height: 40px;
  background-color: #4086f5;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  width: 100%;
}

.event-details {
  display: flex;
  flex-wrap: wrap;
}

.event-details > div {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.form-check-label {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  margin-left: 8px;
}

.form-check {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

/* Hide the default checkbox */
.form-check-input {
  appearance: none;
  width: 20px;
  height: 20px;
  position: relative;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.form-check-input#defaultCheck1 {
  border-color: #30aa51;
}

.form-check-input#defaultCheck2 {
  border-color: #4086f5;
}

.form-check-input#defaultCheck3 {
  border-color: #fcbd01;
}

#defaultCheck1:checked {
  content: url("./image/tick.svg");
  background: #30aa51;
}

#defaultCheck2:checked {
  content: url("./image/tick.svg");
  background-color: #4086f5;
}

#defaultCheck3:checked {
  content: url("./image/tick.svg");
  background-color: #fcbd01;
}

.fc-timegrid-cols .fc-daygrid-event-harness,
.fc-timegrid-cols .fc-timegrid-event-harness {
  margin: 0;
}

.fc-timegrid-cols .fc-v-event {
  border: none !important;
}

.fc-timeGridDay-view .fc-timegrid-col-events {
  margin-right: 0px !important;
}

.fc-timeGridDay-view .fc-v-event {
  background-image: url("./image/img1.png");
  background-position: center;
  background-repeat: no-repeat;
}

.fc-timeGridDay-view .fc-v-event::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  background-color: rgba(0, 173, 64, 0.8);
  box-shadow: 4px 4px 8px 0px rgba(48, 170, 81, 0.5);
}

.fc-timeGridDay-view .language-event.fc-v-event::before {
  background-color: rgba(255, 0, 0, 0.8);
}

.fc-timeGridDay-view .fc-daygrid-event-harness::after,
.fc-timeGridDay-view .fc-timegrid-event-harness::after {
  content: "";
  position: absolute;
  background-color: transparent;
  border-radius: 3px;
  top: 0;
  left: -3px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fc-timeGridDay-view .fc-daygrid-event-harness:hover::after,
.fc-timeGridDay-view .fc-timegrid-event-harness:hover::after {
  background-color: #3f86f5;
}

.right-calendar .fc-toolbar-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

/* Style custom button wrapper */
.header-start-wrapper {
  display: flex;
  align-items: center;
}

/* Right content */
.input-group {
  margin-bottom: 12px;
}

#small-calendar {
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
}

#small-calendar .fc-header-toolbar {
  background-color: #fff;
  margin-bottom: 0 !important;
}

#small-calendar .fc-dayGridMonth-view .fc-col-header-cell {
  background-color: white;
}

#small-calendar .fc-dayGridMonth-view .fc-scrollgrid {
  border: none !important;
}

#small-calendar .fc-dayGridMonth-view .fc-day {
  border: none !important;
}

#small-calendar .fc-dayGridMonth-view .fc-daygrid-day-events {
  min-height: auto;
  margin: 0 !important;
}

#small-calendar .fc-dayGridMonth-view .fc-daygrid-day-top {
  justify-content: center;
}

#small-calendar .fc-dayGridMonth-view td,
#small-calendar .fc-dayGridMonth-view th {
  border: none !important;
}

#small-calendar .fc-dayGridMonth-view .fc-daygrid-day-number {
  padding: 10px !important;
  border-radius: 8px;
}

#small-calendar .fc-daygrid-day {
  position: relative;
}

#small-calendar .presentation {
  border: none !important;
}

#small-calendar .indicator-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  z-index: 10;
  display: flex;
  justify-content: center;
}

#small-calendar .indicator {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 3px;
}

#small-calendar .indicator:last-child {
  margin-right: 0;
}

#small-calendar .indicator.green {
  background-color: #30aa51;
}

/* Info */
.info-wrapper {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 16px;
  width: 100%;
  border-radius: 8px;
  flex-wrap: wrap;
}

.info-text {
  margin-left: 16px;
}

.info-text .class {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #4086f5;
  margin-bottom: 0;
}

.event-card-info {
  padding: 12px 16px;
  gap: 16px;
}

.event-description {
  width: 100%;
  margin: 0;
  padding-top: 8px;
}

.course-form-btn {
  margin: 0;
  box-shadow: 4px 4px 8px 0px rgba(64, 134, 245, 0.5);
}

.fc-scroller.fc-scroller-liquid-absolute {
  overflow-y: auto !important;
}

/* Add this to your existing CSS file or within a <style> tag in your HTML */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 24px 32px 32px;
  border: 1px solid #888;
  width: 700px !important;
  border: none !important;
  height: auto !important;
  max-height: 90%;
  overflow-y: scroll;
  position: relative;
}

.close {
  display: none;
  position: absolute;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  top: 6px;
  right: 12px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  color: #333;
}

/* Disabled days not in current month */
.fc-day-disabled {
  background-color: #fff !important;
}

#small-calendar .fc-daygrid-event-harness {
  margin: 0 !important;
}

.sidebar-event {
  display: none !important;
}

.custom-modal-content {
  padding: 16px 0;
}

.custom-modal-content + .custom-modal-content {
  border-top: 1px solid rgba(102, 102, 102, 0.2);
}

.custom-heading {
  color: #30aa51 !important;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.custom-description {
  margin-top: 8px;
}

.custom-description * {
  margin: 0;
  font-size: 13px;
  line-height: 17px;
  color: #212529 !important;
}

.custom-modal-info {
  display: flex;
  align-items: center;
}

.custom-modal-info + .custom-modal-info {
  padding-top: 8px;
}

.custom-modal-icon {
  display: block;
  margin-right: 8px;
}

.custom-modal-text h4,
.custom-modal-text a {
  color: #212529;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin: 0;
}

.custom-modal-text h5 {
  color: #666;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

.content-column {
  display: flex;
}

.custom-modal-column--small {
  width: 42%;
}

.custom-modal-column--large {
  flex: 1;
}

.custom-modal-column .custom-modal-info .custom-modal-text {
  flex: 1;
}

.support-description {
  color: #000;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}

.buttons-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.custom-modal-btn-wrapper {
  padding: 0 8px;
  width: 50%;
}

.custom-modal-btn {
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}

.custom-modal-btn--cancel {
  background-color: #f0f0f0;
  color: #666666;
  cursor: none;
}

.custom-modal-btn--active {
  background-color: #30aa51;
  color: #ffffff;
}

.custom-modal-btn--completed {
  background-color: #666666;
  color: #fff;
}

.custom-modal-banner {
  width: 100%;
  position: relative;
}

.custom-modal-banner img {
  width: 100%;
  height: auto;
}

.status-wrapper {
  padding: 4px 16px;
  border-radius: 8px;
  background-color: #e7f6ff;
  position: absolute;
  top: 12px;
  right: 12px;
}

.status-text {
  color: #208ae6;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
}
